<%- include('common/header.ejs') %>
  
  <div class="container empty-background">
    <nav class="nav">
      <p class="title">용계역 여행</p>
      <div class="sub-title">소개</div>
    </nav>
    <div class="content-container">
      <div class="introduce-title-wrap">
        <p class="f-18">저희 용계역 여행에 대해 소개 해드리겠습니다.</p>
      </div>
      <div class="introduce-content-wrap">
        <p>1. 코스 안내에서 목표물이 있는 곳을 확인합니다.</p>
        <p>2. 지정된 위치에 있는 QR코드를 QR탭을 통해 찍을 수 있습니다.</p>
        <p>3. 코스 안내에서 완료 여부를 확인할 수 있습니다.</p>
      </div>
    </div>
  </div>

  <%- include('common/footer.ejs') %>
  </body>
</html>
